@model WebApplication1.Models.Concert

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Concert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Duur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginTijd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginTijd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NaamEvenement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NaamEvenement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPlaatsen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPlaatsen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locatie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locatie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BandNaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BandNaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zaal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zaal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EvenementId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
