@model IEnumerable<WebApplication1.Models.Kaartje>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Evenement.NaamEvenement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotaalPrijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aantal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BijzonderhedenRestaurant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoortKaartje)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Evenement.NaamEvenement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotaalPrijs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aantal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BijzonderhedenRestaurant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoortKaartje)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KaartjeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.KaartjeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KaartjeId })
        </td>
    </tr>
}

</table>
