@model WebApplication1.Models.Restaurant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <div>
        <h4>@Model.NaamEvenement</h4>
        <hr />
        @using (Html.BeginForm())
        {
            Html.DisplayTextFor(model => model.EvenementId);
            var dag = (int)Model.Dag;
            <input type="number" name="prijs" value="@Model.Prijs" />
            <input type="number" name="aantal" />
            <input type="number" name="dag" value="@dag"/>
            <input type="text" name="soortKaartje" value="0" hidden />
            <input type="text" name="bijzonderheden" />
            <input type="submit" value="Order now" />

            // int evenementId, int aantal, int prijs, SoortKaartje soortKaartje, string bijzonderheden, Dag dag)
        }
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EvenementId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
